@import "variable";
@import "grid";
@import "base";

/*bS*/
@import "../node_modules/bootstrap/scss/functions";
@import "helpers/variables"; // 複製一份 variable 來覆蓋
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/bootstrap";

$sidebar_width: 296px; 
/*---- left sidbar -----*/

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    width: $sidebar_width;
    height: 100%;
    background-color: $lightgreen;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    a{
        text-decoration: none;
    }

}



.content{
    display: block;
    height: 100%;
    max-width: 100%; 
    background-color: $pink;
    margin-left: $sidebar_width;
}

/*? 問那要怎麼處理css RESET */
/* 網頁長度問題*/
ul {
    list-style-type: none;
}


/*---- footer ----*/