/*@import "../reset";   bootstrap itself include some normalize reset setting */
/*
@import "../variable";
@import "../grid"; 
@import "../utility";
@import "../base";
*/
@import "../layout";

/*using bs , with these 3 import scss*/
@import "../../node_modules/bootstrap/scss/functions";
@import "../helpers/variables"; // 複製一份 variable 來覆蓋
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/bootstrap";

/*? 問那要怎麼處理css RESET */

img {
    max-width: 100%;
    height: auto;
}
/*font1 */
.font_lato{
    font-family: 'Lato', sans-serif;
}

.font_roboto{
    font-family: 'Roboto Mono', monospace;
}


/*main content*/
.inner_content_left{
    max-width:320px;
}